<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<main>
  <h1><%= profile.name %></h1>
    <div>
      <img
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      />
    </div>
</main>
<section>
  <h1>Champions</h1>
  <ul>
    <% profile.champions.forEach(champion => { %>
      <li>
        <a href="/champions/<%= champion._id %>"><%= champion.name %></a>
      </li>
    <% }) %>
  </ul>
  <h1>Roles</h1>
  <ul>
    <% profile.roles.forEach(role => { %>
      <li>
        <a href="/roles/<%= role._id %>"><%= role.name %></a>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>