<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<main id="profile-header">
  <h1><%= profile.name %></h1>
    <div>
      <img
        src="<%= profile.avatar %>"
        alt="<%= profile.name %> avatar"
      />
    </div>
</main>
<section id="profile-creations">
  <div id="profile-list">
    <h1 id="text-title">Champions</h1>
    <div>
      <% profile.champions.forEach(champion => { %>
        <p>
          <a href="/champions/<%= champion._id %>"><%= champion.name %></a>
        </p>
      <% }) %>
      </div>
  </div>
  <div id="profile-list">
    <h1 id="text-title">Roles</h1>
    <div>
      <% profile.roles.forEach(role => { %>
        <p>
          <a href="/roles/<%= role._id %>"><%= role.name %></a>
        </p>
      <% }) %>
      </div>
  </div>
</section>

<%- include('../partials/footer') %>