<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>
<%- include('./partials/hamburger') %>

<main>
  <h1>Welcome <%= user ? user.profile.name : "to the League of Creation" %></h1>
  <h2>Please Log In</h2>
  <img id="login-arrow" src="public/assets/img/arrow.png">
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <% } %>

<%- include('./partials/footer') %>
