<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new-edit.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<form action="/roles/<%= role._id %>?_method=PUT" method="POST">
  <div id="user-control">
    <div id="create-champion-header">
      Edit Champion
    </div>
    <button id="save-btn" type="submit">Save Changes</button>
    <div class="tooltip">
      Help
      <span class="tooltiptext">
        Passive = Innate Ability <br>
        Q = First Ability <br> 
        W = Second Ability <br> 
        E = Third Ability <br> 
        R = Ultimate Ability <br>
      </span>
    </div>
  </div>
  <section id="page-container">
    <div id="name-box">
      <h3>Name: </h3> 
      <input id="name-input" name="name" value="<%= role.name %>"  type="text" autocomplete="off" placeholder="Required">
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Description: </p>
      <p id="description-text"><textarea name="description" cols="82" rows="10"><%= role.description %></textarea></p>
    </div>
  </section>
</form>

<%- include('../partials/footer') %>