<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Roles</h1>
  <ul>
    <% roles.forEach(role => { %>
      <li>
        <a href="/roles/<%= role._id %>"><%= role.name %></a>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>