<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>


<section id="champ-view">
  <div id="table-header">
    <h1 id="table-text-left">Role</h1>
    <h1 id="table-text-right">Creator</h1>
  </div>
  <div id="champ-table">
    <% roles.forEach(role => { %>
      <table>
        <tr>
          <th>
            <a id="table-text-left" href="/roles/<%= role._id %>"><%= role.name %></a>
            <a id="table-text-right" href="/profiles/<%= role.owner._id %>"><%= role.owner.name %></a>
          </th>
        </tr>
      </table>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>