<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/role-show.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>


<div id="user-control">
  <div id="create-champion-header">
    <%= role.name %>
  </div>
</div>
<section id="page-container">
  <p>Created by: 
    <a id="profile-link" href="/profiles/<%= role.owner._id %>"><%= role.owner.name %></a>
  </p>
  <div>
    <div id="objects-container"> 
      <p id="descriptor">Description: </p>
      <p id="description-text"><%= role.description %></p>
    </div>
  </div>  
  <% if (role.owner.equals(user?.profile._id)) { %>
    <div class="reference" tabindex="0">EDIT
      <div class="popout-menu">
        <a href="/roles/<%= role._id %>/edit">
          <button class="edit-buttons" >Edit this role</button>
        </a>
        <form action="/roles/<%= role._id %>?_method=DELETE" method="POST">
          <button class="edit-buttons" id="delete-btn" >Delete</button>
        </form>
      </div>
    </div>
  <% } %>
</section>

<%- include('../partials/footer') %>