<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/new-edit.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<div class="tooltip">
  Help
  <span class="tooltiptext">Q = First Ability <br> W = Second Ability <br> E = Third Ability <br> R = Ultimate Ability</span>
  </label>
</div>

<section id="page-container">
  <h1>Edit this Champion</h1>
  <form action="/champions/<%= champion._id %>?_method=PUT" method="POST">
    <div id="name-box">
      <h3>Name (Required):</h3> 
      <input id="name-input" name="name" value="<%= champion.name %>"  type="text" autocomplete="off">
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Passive: </p>
      <p id="description-text"><textarea name="passive" cols="82" rows="10"><%= champion.passive %></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Q: </p>
      <p id="description-text"><textarea name="ability1" cols="82" rows="10"><%= champion.ability1 %></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">W: </p>
      <p id="description-text"><textarea name="ability2" cols="82" rows="10"><%= champion.ability2 %></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">E: </p>
      <p id="description-text"><textarea name="ability3" cols="82" rows="10"><%= champion.ability3 %></textarea></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">R: </p>
      <p id="description-text"><textarea name="ultimate" cols="82" rows="10"><%= champion.ultimate %></textarea></p>
    </div>
    <button id="save-btn" type="submit">Save Changes</button>
    </form>
</section>

<%- include('../partials/footer') %>