<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<section id="champ-view">
  <h1>Champions</h1>
  <div id="champ-table">
    <% champions.forEach(champion => { %>
      <table>
        <tr>
          <th>
            <a href="/champions/<%= champion._id %>"><%= champion.name %></a>
          </th>
        </tr>
      </table>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>