<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<section id="champ-view">
  <div id="champ-index-header">
    <h1 id="champion-header">Champion</h1>
    <h1 id="creator-header">Creator</h1>
  </div>
  <div id="champ-table">
    <% champions.forEach(champion => { %>
      <table>
        <tr>
          <th>
            <a href="/champions/<%= champion._id %>"><%= champion.name %></a>
            <a id=profile-nametag href="/profiles/<%= champion.owner._id %>"><%= champion.owner.name %></a>
          </th>
        </tr>
      </table>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>