<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Champions</h1>
  <div>
    <% champions.forEach(champion => { %>
      <ul>
        <a href="/champions/<%= champion._id %>"><%= champion.name %></a>
      </ul>
    <% }) %>
  </div>
</section>

<%- include('../partials/footer') %>