<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Champions</h1>
  <ul>
    <% champions.forEach(champion => { %>
      <li>
        <a href="/champions/<%= champion._id %>"><%= champion.name %><%= champion.role %></a>
      </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>