<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>

<section id="show-view">
  <img src="<%= champion.owner.avatar %>" alt="<%= champion.owner.name %>'s avatar">
  <h1><%= champion.name %></h1>
  <p>Created by <a href="/profiles/<%= champion.owner._id %>"><%= champion.owner.name %></a></p>
  <div id="champ-abilities">
    <p id="champ-ability">Passive: <%= champion.passive %></p>
    <p id="champ-ability">Q: <%= champion.ability1 %></p>
    <p id="champ-ability">W: <%= champion.ability2 %></p>
    <p id="champ-ability">E: <%= champion.ability3 %></p>
    <p id="champ-ability">R: <%= champion.ultimate %></p>
    <div>Roles: 
      <% champion.roles.forEach(role => { %>
        <a href="/roles/<%= role._id %>"><%= role.name %></a>
      <% }) %>
    </div>
  </div>
      
      <% if (champion.owner.equals(user?.profile._id)) { %>
    <a href="/champions/<%= champion._id %>/edit">
      <button class="btn">Edit this champion</button>
    </a>
    <form action="/champions/<%= champion._id %>?_method=DELETE" method="POST">
      <button class="delete">Delete this champion</button>
    </form>
    <form id="add-to-roles" action="/champions/<%= champion._id %>/roles" method="POST">
    <label for="role-select">Add a Role:</label>
      <select name="roleId">
        <% roles.forEach(role => { %>
          <option value="<%= role._id %>"><%= role.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add</button>
    </form>
    <form id="remove-from-roles" action="/champions/<%= champion._id %>/roles?_method=DELETE" method="POST">
      <label for="role-select">Remove a Role:</label>
        <select name="roleId">
          <% champion.roles.forEach(role => { %>
            <option value="<%= role._id %>"><%= role.name %></option>
          <% }) %>
        </select>
        <button type="submit">Remove</button>
      </form>
  <% } %>
</section>

<%- include('../partials/footer') %>