<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/champion-show.css" />
<%- include('../partials/nav') %>
<%- include('../partials/hamburger') %>


<div id="user-control">
  <div id="create-champion-header">
    <%= champion.name %>
  </div>
</div>
<section id="page-container">
  <p>Created by: <a id="profile-link" href="/profiles/<%= champion.owner._id %>"><%= champion.owner.name %></a></p>
  <div id="champ-abilities">
    <div id="roles-title">
      Roles: 
      <% champion.roles.forEach(role => { %>
        <a id="role-link-text" href="/roles/<%= role._id %>">| <%= role.name %> | </a>
      <% }) %>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Passive: </p>
      <p id="description-text"><%= champion.passive %></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">Q: </p>
      <p id="description-text"><%= champion.ability1 %></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">W: </p>
      <p id="description-text"><%= champion.ability2 %></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">E: </p>
      <p id="description-text"><%= champion.ability3 %></p>
    </div>
    <div id="objects-container"> 
      <p id="descriptor">R: </p>
      <p id="description-text"><%= champion.ultimate %></p>
    </div>
  </div>
      
  <% if (champion.owner.equals(user?.profile._id)) { %>
    <div class="reference" tabindex="0">EDIT
      <div class="popout-menu">
        <a href="/champions/<%= champion._id %>/edit">
          <button class="edit-buttons" id="adjust-champ-btn">Edit this champion</button>
        </a>
        <div id="adjust-role">
          <form id="add-to-roles" action="/champions/<%= champion._id %>/roles" method="POST">
            <label for="role-select">Add a Role:</label>
            <select id="roleId" name="roleId">
              <% roles.forEach(role => { %>
                <option value="<%= role._id %>"><%= role.name %></option>
              <% }) %>
            </select>
            <button class="edit-buttons" type="submit">Add</button>
          </form>
        </div>
        <div id="adjust-role">
          <form id="remove-from-roles" action="/champions/<%= champion._id %>/roles?_method=DELETE" method="POST">
            <label for="role-select">Remove a Role:</label>
            <select id="roleId" name="roleId">
              <% champion.roles.forEach(role => { %>
                <option value="<%= role._id %>"><%= role.name %></option>
              <% }) %>
            </select>
            <button class="edit-buttons" id="remove-btn" type="submit">Remove</button>
          </form>
        </div>
        <form action="/champions/<%= champion._id %>?_method=DELETE" method="POST">
          <button class="edit-buttons" id="delete-btn">Delete</button>
        </form>
      </div>
    </div>
  <% } %>
</section>

<%- include('../partials/footer') %>